@media (max-width: 614px) {
  * {
    box-sizing: border-box;
  }
  /* Estilo da tela de boas vindas*/
  .container-wellcome-screen {
    background-color: #fb6b6b;
    border: 1px solid #dbdbdb;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 20vh;
  }

  .gameTittle {
    width: 257px;
    height: 59px;

    font-family: "Righteous";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    letter-spacing: -0.012em;

    color: #ffffff;
    margin: 15px auto 26px auto;
  }
  .startButton {
    width: 60%;
    height: 7.5%;

    background: #ffffff;
    border: 1px solid #d70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-family: "Recursive";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #d70900;
  }

  /*Estilo QuestionNamber*/
  .container-flashCards {
    background-color: #fb6b6b;
    border: 1px solid #dbdbdb;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-top: 10vh;
  }
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
  }
  .logo-header {
    width: 52px;
    height: 60px;
  }
  .title-header {
    width: 203.17px;
    height: 44px;

    font-family: "Righteous";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    letter-spacing: -0.012em;

    color: #ffffff;

    /*transform: rotate(0.58deg);*/
  }
  .questions {
    width: 300px;
  }

  .questionNumber {
    width: 100%;
    height: 65px;

    background-color: #ffffff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-family: "Recursive";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
  }

  li ion-icon {
    --ionicon-stroke-width: 40px; /*deixa o icone em negrito*/
    font-size: 30px;
    position: relative;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 70px;

    background-color: #ffffff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  }
  .completed-flahscards {
    width: 145px;
    height: 22px;

    font-family: "Recursive";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #333333;
  }

  /*Estilo Question*/
  .question {
    width: 299px;
    height: 100px;
    margin-bottom: 10px;

    background-color: #ffffd5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border-radius: 5px;
    position: relative;
  }

  .question-value {
    font-family: "Recursive";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #333333;

    padding-top: 18px;
    padding-left: 15px;
  }
  .turn {
    position: absolute;
    bottom: 6px;
    right: 15px;
  }

  /*Estilo Answer*/
  .answer {
    width: 299px;
    height: 110px;
    margin-bottom: 10px;

    background-color: #ffffd5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .answer-value {
    width: 100%;
    height: 50px;

    padding-top: 5px;
    padding-left: 15px;
   
  }

  .text {
    font-family: "Recursive";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    
    color: #333333;
  }
  .options {
    display: flex;
    position: absolute;
    bottom: 5px;
    right: 0;
    justify-content: space-around;
    width: 100%;
  }

  .wrong {
    width: 85px;
    height: 37px;

    background: #ff3030;
    border-radius: 5px;

    font-family: "Recursive";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
  }
  .notYet {
    width: 85px;
    height: 37px;

    background: #ff922e;
    border-radius: 5px;

    font-family: "Recursive";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;

    align-items: center;
    text-align: center;

    color: #ffffff;
  }
  .right {
    width: 85px;
    height: 37px;

    background: #2fbe34;
    border-radius: 5px;
    font-family: "Recursive";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-left: 25px;

    color: #ffffff;
    display: flex;
    align-items: center;
  }
}
